In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
main_df_train = pd.read_csv("Data/RussianCurve.csv")

In [24]:
main_df_test = main_df_train.reset_index()

In [34]:
main_df_train = main_df_train.drop(['index'], axis=1)

In [36]:
main_df_train.to_csv("Data/main_df_train.csv")

In [5]:
main_df = main_df[::-1]

In [6]:
main_df = main_df.reset_index()

In [7]:
main_df = main_df.drop(['index'], axis=1)

In [8]:
main_df

,date,0.25,0.5,0.75,1.0,2.0,3.0,5.0,7.0,10.0,15.0,20.0,30.0
0,2008-01-09,5.69,5.76,5.83,5.88,6.03,6.13,6.26,6.37,6.50,6.68,6.81,6.97
1,2008-01-10,5.53,5.61,5.69,5.76,5.95,6.06,6.21,6.32,6.46,6.64,6.77,6.92
2,2008-01-11,5.17,5.29,5.42,5.53,5.83,5.98,6.15,6.26,6.40,6.58,6.70,6.84
3,2008-01-14,5.13,5.28,5.43,5.56,5.89,6.02,6.16,6.26,6.39,6.57,6.69,6.84
4,2008-01-15,5.31,5.45,5.59,5.70,5.99,6.11,6.25,6.34,6.46,6.62,6.74,6.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1829,2014-12-24,15.45,15.53,15.56,15.56,15.45,15.38,14.98,14.27,13.09,11.81,11.10,10.38
1830,2014-12-25,14.86,14.92,14.96,15.02,15.27,15.39,14.98,14.18,13.00,11.75,11.04,10.27
1831,2014-12-26,14.47,14.52,14.57,14.64,14.99,15.20,14.88,14.12,13.01,11.77,11.02,10.19
1832,2014-12-29,13.57,13.63,13.79,14.04,15.16,15.55,15.20,14.38,13.20,11.85,11.04,10.20
1833,2014-12-30,12.74,13.10,13.50,13.90,15.14,15.51,15.13,14.31,13.15,11.83,11.04,10.23

In [32]:
main_df = main_df.reset_index()
main_df = main_df.drop(['index'], axis=1)

In [35]:
main_df.to_csv('FedYeildCurve.csv')

In [36]:
mdf = pd.read_csv('Data/FedYeildCurve.csv')

In [37]:
mdf = mdf.drop(['0.75'], axis=1)

In [40]:
mdf = mdf.drop(['Unnamed: 0'], axis=1)
mdf.head(-5)

KeyError: "['Unnamed: 0'] not found in axis"

In [57]:
main_df = pd.read_csv('Data/RussianCurve.csv')

In [58]:
main_df['date'] = pd.to_datetime(main_df['date'])

In [60]:
main_df = main_df[::-1]

In [62]:
main_df = main_df.reset_index()

In [68]:
main_df = main_df.drop(['30.0'], axis=1)
main_df.head(-5)

           date   0.25    0.5    1.0    2.0    3.0    5.0    7.0   10.0
0    2008-01-09   5.69   5.76   5.88   6.03   6.13   6.26   6.37   6.50
1    2008-01-10   5.53   5.61   5.76   5.95   6.06   6.21   6.32   6.46
2    2008-01-11   5.17   5.29   5.53   5.83   5.98   6.15   6.26   6.40
3    2008-01-14   5.13   5.28   5.56   5.89   6.02   6.16   6.26   6.39
4    2008-01-15   5.31   5.45   5.70   5.99   6.11   6.25   6.34   6.46
...         ...    ...    ...    ...    ...    ...    ...    ...    ...
1824 2014-12-17  13.51  14.06  14.90  15.75  15.87  15.01  13.89  12.72
1825 2014-12-18  14.44  14.78  15.27  15.75  15.79  15.16  14.19  12.87
1826 2014-12-19  15.30  15.46  15.64  15.86  15.87  15.19  14.20  12.95
1827 2014-12-22  14.91  14.96  15.02  15.20  15.20  14.58  13.68  12.47
1828 2014-12-23  15.28  15.34  15.39  15.44  15.36  14.76  13.91  12.69

[1829 rows x 9 columns]

In [71]:
edf = main_df[main_df['date'].dt.day == 1]

In [72]:
edf.head(-5)

           date   0.25    0.5    1.0    2.0    3.0    5.0    7.0   10.0
17   2008-02-01   5.13   5.27   5.51   5.81   5.97   6.18   6.31   6.47
56   2008-04-01   5.67   5.75   5.88   6.04   6.21   6.48   6.67   6.88
118  2008-07-01   5.41   5.53   5.73   6.05   6.26   6.52   6.68   6.88
141  2008-08-01   5.41   5.51   5.72   6.11   6.42   6.83   7.08   7.31
162  2008-09-01   6.10   6.23   6.47   6.88   7.17   7.61   7.93   8.30
184  2008-10-01   6.60   6.68   6.86   7.17   7.36   7.56   7.72   8.06
207  2008-11-01   8.73   8.79   8.87   8.86   8.74   8.51   8.39   8.43
226  2008-12-01  10.62  10.67  10.69  10.43  10.01   9.28   8.81   8.48
304  2009-04-01   9.77  10.04  10.56  11.24  11.47  11.56  11.62  11.88
345  2009-06-01   8.03   8.78   9.95  11.33  11.88  12.12  12.06  11.96
366  2009-07-01   8.13   9.18  10.56  11.71  11.92  11.77  11.65  11.63
410  2009-09-01   8.73   9.34  10.27  11.36  11.88  12.17  12.13  11.98
432  2009-10-01   8.02   8.42   9.08  10.00  10.60  11.26  11.49  11.49
474  2009-12-01   6.67   6.86   7.22   7.77   8.15   8.65   8.90   9.04
511  2010-02-01   5.64   5.89   6.32   6.91   7.30   7.72   7.94   8.13
530  2010-03-01   5.25   5.53   5.98   6.63   7.06   7.56   7.79   7.93
552  2010-04-01   4.49   4.75   5.20   5.90   6.38   7.00   7.36   7.69
593  2010-06-01   3.66   4.15   4.95   6.05   6.73   7.41   7.70   7.87
614  2010-07-01   3.26   3.76   4.60   5.81   6.52   7.15   7.34   7.41
658  2010-09-01   3.44   3.91   4.70   5.79   6.45   7.10   7.35   7.50
680  2010-10-01   3.48   3.89   4.60   5.68   6.40   7.17   7.48   7.61
701  2010-11-01   3.70   4.11   4.81   5.83   6.50   7.25   7.57   7.74
722  2010-12-01   4.14   4.54   5.21   6.15   6.75   7.43   7.75   7.95
759  2011-02-01   3.81   4.37   5.27   6.45   7.10   7.68   7.88   8.01
778  2011-03-01   3.75   4.26   5.09   6.22   6.90   7.59   7.87   8.05
800  2011-04-01   3.49   3.99   4.81   5.99   6.74   7.51   7.83   7.99
841  2011-06-01   3.56   4.00   4.76   5.93   6.72   7.62   8.04   8.29
862  2011-07-01   3.87   4.21   4.82   5.81   6.59   7.59   8.10   8.39
883  2011-08-01   3.97   4.29   4.85   5.74   6.41   7.27   7.70   7.98
906  2011-09-01   4.48   4.83   5.43   6.33   6.98   7.71   8.01   8.13
949  2011-11-01   5.03   5.54   6.33   7.30   7.84   8.30   8.43   8.45
970  2011-12-01   5.02   5.54   6.35   7.34   7.87   8.28   8.39   8.43
1013 2012-02-01   5.82   6.02   6.38   6.93   7.23   7.63   7.96   8.38
1034 2012-03-01   5.87   6.01   6.28   6.72   7.08   7.57   7.88   8.14
1063 2012-04-01   5.98   6.11   6.37   6.77   7.06   7.48   7.77   8.04
1093 2012-05-01   6.13   6.24   6.43   6.76   7.11   7.62   7.94   8.21
1123 2012-06-01   6.40   6.57   6.87   7.37   7.73   8.19   8.48   8.80
1153 2012-07-01   6.49   6.67   6.97   7.37   7.69   8.19   8.54   8.87
1184 2012-08-01   5.84   6.04   6.40   6.98   7.35   7.71   7.86   8.07
1215 2012-09-01   5.74   5.98   6.39   7.01   7.40   7.78   7.98   8.23
1245 2012-10-01   5.92   6.08   6.38   6.86   7.17   7.55   7.79   8.07
1276 2012-11-01   6.13   6.25   6.47   6.72   6.81   7.03   7.31   7.72
1306 2012-12-01   6.23   6.34   6.51   6.62   6.63   6.74   6.94   7.23
1352 2013-02-01   5.58   5.67   5.82   5.95   6.01   6.22   6.51   6.90
1372 2013-03-01   5.40   5.51   5.70   5.86   5.91   6.20   6.61   7.14
1392 2013-04-01   5.53   5.58   5.68   5.83   6.01   6.44   6.85   7.30
1454 2013-07-01   6.01   6.06   6.15   6.35   6.56   6.94   7.27   7.71
1477 2013-08-01   5.91   5.95   6.02   6.16   6.32   6.67   7.03   7.56
1520 2013-10-01   5.97   6.03   6.15   6.37   6.56   6.91   7.21   7.60
1543 2013-11-01   5.93   5.98   6.09   6.32   6.52   6.86   7.15   7.51
1643 2014-04-01   6.54   6.82   7.32   7.97   8.22   8.50   8.71   8.92

In [73]:
edf.to_csv('Data/FedYeildCurve1DayMonth.csv')

In [74]:
edf = pd.read_csv('Data/FedYeildCurve1DayMonth.csv')

In [75]:
edf = edf.reset_index()
edf = edf.drop(['index'], axis=1)

In [78]:
edf = edf.drop(['Unnamed: 0'], axis=1)

In [80]:
edf.to_csv('Data/FedYeildCurve1DayMonth.csv')